body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(79, 79, 80);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: white;
}

.container {
  text-align: center;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  background-image: url('icons/kitty.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 400px;
  width: 300px;
}

h1 {
  font-size: 25px;
  margin: 375px 0px 20px;
  color: white;
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 50px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-group {
  padding: 5px 20px;

}

button:hover {
  background-color: #0056b3;
}
.reset {
  background-color: grey;
}

.reset:hover{
  background-color: red;
}

.label-tag {
  margin-right: 10px;
  padding-top: 0; 
  color: white;
  font-size: 18px;
}

.form-group {
  align-items: center; /* Ensures vertical alignment */
  padding-top: 5px;
}

.form-group label {
  font-size: 22px;
  text-align: left;
}

.form-group input {
  width: 80px; /* Fixed width for input */
  padding: 5px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  height: 34px; /* Same height as the toggle for uniformity */
  box-sizing: border-box; /* Ensures padding doesn't affect height */
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color:#007bff;
}

input:focus+.slider {
  box-shadow: 0 0 1px #14e07a;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}